<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:7373/hibernate_training</property>
        <property name="hibernate.connection.username">ptvinh203</property>
        <property name="hibernate.connection.password">ptvinh203</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.globally_quoted_identifiers">false</property>

        <!-- Annotated entity classes -->
        <mapping class="com.ptvinh203.model.Student"/>
        <mapping class="com.ptvinh203.model.Class"/>
        <mapping class="com.ptvinh203.model.School"/>
    </session-factory>
</hibernate-configuration>